startup_commands toggle_custom_color

custom_color_contrast 0.3
custom_color_mode_empty_background_color #252423
page_separator_color #252423
page_separator_width 10
custom_background_color #32302f
custom_text_color #D4BE98
search_highlight_color #A9B665
status_bar_color #3C3836
status_bar_text_color #D4BE98
text_highlight_color #A89984

search_url_g	https://www.duckduckgo.com/search?q=

should_warn_about_user_key_override 1
